p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;}

body {
  font-family: "Roboto", sans-serif;
  color: var(--black);
  font-size: 14px;
  background-color: var(--white);
  box-sizing: border-box;
}

button{
  cursor: pointer;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}
 
.container{
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

:root {
  --black: #212121;
  --white: #ffffff;
  --gray: #757575;
  --background: #2f303a;
  --background-light: #f5f4fa;
  --blue-brand: #2196f3;
  --logo-black: #000000;
  --border: #eeeeee
}

.section{
  padding: 0 94px;
  background-size: 100%;
}

ul{
  padding: 0;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.header-section{
  border: 1px solid var(--border);
}

.header-container{
  display: flex;
  flex-direction: row;
  padding: 32px 0;
  align-items: center;
}

.header-list .link:focus .link:hover .link:active {
  color: var(--blue-brand);
}

.header-list{
  align-items: center;
  gap: 50px;
}

.logo{
  margin-right: 93px;
}

.header-logo-studio {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-black);
}

.header-logo-web {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--blue-brand);
}

.nav-set{
  display: flex;
  flex-direction: row;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--black);
  padding-top: 30px;
  padding-bottom: 30px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--blue-brand);
}

.nav-link:active {
  color: var(--blue-brand);
}

.header-contact {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--gray);
  padding-top: 30px;
  padding-bottom: 30px;
}

.nav-contact{
  margin-left: auto;
}

.header-contact:hover,
.header-contact:focus {
  color: var(--blue-brand);
}

.header-contact:active {
  color: var(--blue-brand);
}

.main-title-section {
  background: var(--background);
}

.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  padding-bottom: 30px;
  display: inline-block;
  width: 696px;
}

.title-button {
  background: var(--blue-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0cm;
  width: 216px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  padding: 10px auto;
}

.hiden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-list{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 94px;
  padding-bottom: 94px;
  gap: 30px;
  
}

.about-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about-description {
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--gray);
  width: 270px;
}

.section-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.options > .options-img{
  margin-left: auto;
  margin-right: auto;
}

.options-img{
  gap: 30px;
  width: 100%;
  margin: 94px;
  justify-content: space-between;
  align-items: center;
}

.position-list{
  gap: 30px;
}

.position-section {
  background: var(--background-light);
  padding-top: 94px;
  padding-bottom: 94px;
}

.position-box {
  width: 270px;
  height: 368px;
  left: 515px;
  top: 1632px;
  background: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-position {
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--gray);
}

.button:hover,
.button:focus {
  background: var(--blue-brand);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-main-container{
  padding-top: 79px;
  padding-bottom: 94px;
  width: 1200px;
}

.portfolio-main-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio-button {
  background: var(--background-light);
  border-radius: 4px;
  border: 0cm;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
}

.portfolio-button-list{
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.portfolio-button:hover,
.portfolio-button:focus {
  background: var(--blue-brand);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--white);
}

.product-list{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 1200px;
}

.product-box {
  background: var(--white);
  width: calc((100% - 60px) / 3);
}

.product-dscp-box{
  padding: 20px 24px;
  border: 1px solid var(--border);
  border-top: none;
}

.product-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 20px;
  margin-bottom: 4px;
}

.product-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--gray);
}

.footer-container{
  padding: 60px 0;
}

.footer-section {
  background: var(--background);
}

.footer-logo-studio {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white);
  text-decoration: none;
}

.footer-logo-web {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--blue-brand);
  text-decoration: none;
}

.footer-list{
  list-style: none;
  margin-top: 20px;
  margin-bottom: 9px;
}

.address-information {
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white);
  text-decoration: none;
  font-style: normal;
}

.footer-contact {
  text-decoration: none;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  display: block;
  margin-top: 9px;
 
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--blue-brand);
}

ul{
  margin: 0;
  padding-left: 0;
}
